@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Manrope:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

:root{
  --bg:#0B1215;
  --gold:#C6A86A;
  --text:#F7F3ED;
}

html{
  scroll-behavior:smooth;
}

body{
    margin:0;
    background:#0B1215;
    color:white;
    font-family:"Manrope",sans-serif;
}